@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'icomoon';
	src:url('../fonts/icomoon/icomoon.eot?-ee0u0f');
	src:url('../fonts/icomoon/icomoon.eot?#iefix-ee0u0f') format('embedded-opentype'),
		url('../fonts/icomoon/icomoon.woff?-ee0u0f') format('woff'),
		url('../fonts/icomoon/icomoon.ttf?-ee0u0f') format('truetype'),
		url('../fonts/icomoon/icomoon.svg?-ee0u0f#icomoon') format('svg');
}

html, body, .container, .header {
	height: 100%;
}

/* Header */
.header {
	position: relative;
	margin: 0 auto;
	/* min-height: 560px; */
	width: 100%;
}

.bg-img {
	z-index: 1;
	position: absolute;
	overflow: hidden;
	height: 50%;
	width: 100%;
	display: flex;
	justify-content: center;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.bg-img img:first-child {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	min-width: 100%;
	min-height: 100%;
}

.bg-img img:last-child {
	position: absolute;
	z-index: 1;
	top: 30%;
	left: 50%;
	display: block;
	min-width: 1%;
	height: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}

.header {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

/* Trigger Button */
button.trigger {
	position: fixed;
	bottom: 40px;
	left: 50%;
	z-index: 5000;
	display: block;
	margin-left: -0.5em;
	padding: 0;
	width: 1em;
	height: 1em;
	border: none;
	background: transparent;
	color: transparent;
	font-size: 2em;
	cursor: pointer;
}

.container:not(.notrans) button.trigger {
	-webkit-transition: opacity 0.3s 0.5s;
	transition: opacity 0.3s 0.5s;
}

.container.modify:not(.notrans) button.trigger {
	opacity: 0;
	pointer-events: none;
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

button.trigger::before {
	position: absolute;
	bottom: 100%;
	left: -100%;
	padding: 0.8em;
	width: 300%;
	color: #fff;
	content: attr(data-info);
	font-size: 0.35em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

button.trigger:focus {
	outline: none;
}

button.trigger span {
	position: relative;
	display: block;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

button.trigger span::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	color: #fff;
	content: "\e097";
	text-transform: none;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	font-family: 'icomoon';
	line-height: 1;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Content */
.content {
	/* margin: 0 auto; */
	position: relative;
	width: 100%;
	height: 100%;
	top: 0;
	/* padding: 0 0 3em; */
}

.content img {
	position: absolute;
	z-index: 0;
	bottom: 10%;
	left: 10%;
	display: block;
	min-width: 1%;
	height: 20%;
	/* -webkit-transform: translateX(-50%);
	transform: translateX(-50%); */
}

.txt-box {
	position: absolute;
	bottom: 15%;
	left: 20%;
	width: 70%;
	height: 10%;
	background-color: #fff;
	box-shadow: 
	rgba(50, 50, 93, 0.25) 0px 5px 15px 0px inset, 
	rgba(0, 0, 0, 0.3) 0px 10px 20px -5px inset;
	border-radius: 10px;
	padding: 10px;
}

/* 
.content > div:not(.header) {
	margin: -80px auto 0;
	max-width: 900px;
	padding: 0 1.25em;
}

.content > div:not(.header) p {
	margin: 0 auto 1.5em auto;
}

.content > div:not(.header) p:first-child {
	font-size: 1.35em;
}

.content h3 {
	margin: 0;
	font-size: 1.4em;
}

.content iframe {
	height: 100%;
	width: 100%;
}

.content blockquote {
	padding: 0.25em;
	font-style: italic;
	font-size: 1.65em;
	font-family: 'Lora', serif;
	line-height: 1.4;
}

.content blockquote::before {
	content: '\201C';
}

.content blockquote::after {
	content: '\201D';
} */

/***** Individual effects *****/

/* -------------------------- */
/* Sliced */
/* -------------------------- */

.intro-effect-sliced:not(.notrans) .bg-img,
.intro-effect-sliced:not(.notrans) .title {
	-webkit-transition-property: -webkit-transform;
	transition-property: transform;
}

.intro-effect-sliced:not(.notrans) .bg-img h1,
.intro-effect-sliced:not(.notrans) .codrops-demos a {
	-webkit-transition-property: color;
	transition-property: color;
}

.intro-effect-sliced:not(.notrans) .bg-img p {
	-webkit-transition-property: opacity;
	transition-property: opacity;
}

.intro-effect-sliced:not(.notrans) .content > div {
	-webkit-transition-property: -webkit-transform, opacity;
	transition-property: transform, opacity;
}

.intro-effect-sliced:not(.notrans) .bg-img,
.intro-effect-sliced:not(.notrans) .bg-img h1,
.intro-effect-sliced:not(.notrans) .title,
.intro-effect-sliced:not(.notrans) .bg-img p,
.intro-effect-sliced:not(.notrans) .content > div,
.intro-effect-sliced:not(.notrans) .codrops-demos a {
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
}

.intro-effect-sliced.modify:not(.notrans) .bg-img h1,
.intro-effect-sliced.modify:not(.notrans) .title,
.intro-effect-sliced.modify:not(.notrans) .bg-img p,
.intro-effect-sliced.modify:not(.notrans) .content > div,
.intro-effect-sliced.modify:not(.notrans) .codrops-demos a {
	-webkit-transition-timing-function: ease;
	transition-timing-function: ease;
}

.intro-effect-sliced .bg-img:first-child {
	bottom: 50%;
}

.intro-effect-sliced .bg-img:last-child {
	top: 50%;
	position: fixed;
}

.intro-effect-sliced .bg-img:last-child img {
	top: -100%;
}

.intro-effect-sliced.modify .bg-img:first-child {
	-webkit-transform: translateY(-80%);
	transform: translateY(-80%);
}

.intro-effect-sliced.modify .bg-img:last-child {
	-webkit-transform: translateY(80%);
	transform: translateY(80%);
}

.intro-effect-sliced .bg-img h1, .intro-effect-sliced .bg-img p {
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}

.intro-effect-sliced.modify .bg-img h1, .intro-effect-sliced.modify .bg-img p {
	-webkit-transform: scale(1);
	transform: scale(1);
}

.intro-effect-sliced.modify .title {
	-webkit-transform: translateX(-50%) translateY(-50%) scale(1);
	transform: translateX(-50%) translateY(-50%) scale(1);
}

.intro-effect-sliced .content > div {
	-webkit-transform: translateY(200px);
	transform: translateY(200px);
	opacity: 0;
}

.intro-effect-sliced.modify .content > div {
	-webkit-transform: translateY(0);
	transform: translateY(0);
	opacity: 1;
}

/* Delays */
.intro-effect-sliced.modify:not(.notrans) .title {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}

/* Media Queries */
@media screen and (max-width: 47em) {
	.header, .content {
		font-size: 70%;
	}
}

@media screen and (max-width: 27em) {
	.header, .content {
		font-size: 50%;
	}

	button.trigger::before {
		display: none;
	}
}


.bg-img h1 {
	position: absolute;
	z-index: 100;
    bottom: 0;
    margin-bottom: 0px; /* Adjust as needed for spacing */
    color: black; /* Add your desired text color */
	text-align: center;
	font-weight: 800;
	line-height: 1;
}

.bg-img p {
	position: absolute;
	z-index: 100;
    top: 0;
    margin-top: 10px; /* Adjust as needed for spacing */
    color: purple; /* Add your desired text color */
    font-size: 1.2em; /* Adjust as needed for font size */
	text-align: center;
	font-weight: 300;
	line-height: 1;
}
